<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/first']"
          routerLinkActive="router-link-active"
          >First component</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/inline']"
          routerLinkActive="router-link-active"
          >Inline Component</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/data-bindings']">Data bindings</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/components-communication']"
          routerLinkActive="router-link-active"
          >Components Communication</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sum']">Service</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/same-instance-of-service']"
          routerLinkActive="router-link-active"
          >Service</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/routing']"
          routerLinkActive="router-link-active"
          >Routing</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/template-driven-form']"
          routerLinkActive="router-link-active"
          >Template Driven Form</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/reactive-form']"
          routerLinkActive="router-link-active"
          >Reactive form</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/rxjs']"
          routerLinkActive="router-link-active"
          >RxJS</a
        >
      </li>
    </ul>
  </div>
</nav>
