.rxjs {
  width: 100%;
  padding: 10px;

  &__buttons {
    margin-top: 10px;
    display: flex;

    button {
      margin-right: 10px;
    }
  }

  &__section {
    margin-top: 10px;
  }

  &__lists {
    display: flex;

    &--label {
      font-weight: bold;
    }

    &--item {
      width: 25%;
    }
  }

  &__time {
    color: red;
    font-weight: bold;
  }
}
