<div class="container-fluid mt-2">
    <div class="card">
        <div class="card-header">Angular Service as singleton</div>
        <div class="card-body">
          <div class="card-text">
            <div>
              <app-change-state></app-change-state>
            </div>
            <div class="mt-4">
              <app-change-state></app-change-state>
            </div>
            <div class="mt-4">
              <app-get-state></app-get-state>
            </div>
        </div>
      </div>
</div>
